/* The alert message box */
.session {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .again {
    padding: 20px;
    background-color: #2e99c7; /* Red */
    color: white;
    margin: 15px;
    width: 15em;
  }
  
  .correct {
    padding: 20px;
    background-color: #2dad38; /* Red */
    color: white;
    margin: 15px;
    width: 15em;
  }
  
  .incorrect {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin: 15px;
    width: 20em;
  }
  
  .created {
      padding: 20px;
      background-color: #2759b4; /* Red */
      color: white;
      margin: 15px;
      width: 15em;
  }
  
  /* The close button */
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* When moving the mouse over the close button */
  .closebtn:hover {
    color: black;
  }
  
  /* ##################################################### */
  
  ::selection {
    color: rgb(66, 131, 230);
    background: white;
  }
  
  body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: medium;
    background: linear-gradient(270deg, #3592e5, #1142b4);
    background-size: 400% 400%;
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
    color: white;
  }
  
  @-webkit-keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  @-moz-keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  @keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  
  h1 {
    font-weight: 700;
  }
  
  input[type="text"], input[type="password"], input[type="date"] {
    background: none;
    color: white;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 1em;
    width: 14em;
    font-size: medium;
  }
  
  input[type="submit"] {
    background: 0;
    color: white;
    border-radius: 1em;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: .2em;
    padding-bottom: .3em;
    border: 2px white solid;
    margin-top: 2em;
    transition: .2s;
  }
  
  
  input[type="submit"]:hover {
    background-color: white;
    color: black;
  }
  
  button {
    background: 0;
    border: 0px white solid;
    border-radius: 1em;
    margin-left: 1em;
    position: absolute;
    color: white;
  }
  
  nav {
    margin-bottom: 5em;
  }
  
  nav button {
    background-color: white;
    color: black;
    position: relative;
    margin-left: .2em;
    padding: .2em 2em .3em 2em;
    font-family: 'Muli', sans-serif;
    font-weight: 600;
    letter-spacing: .1em;
    transition: .2s;
  }
  
  nav button:hover {
    letter-spacing: .3em;
  }
  
  #register {
    margin-top: 2em;
  }
  
  #login {
    margin-top: 2em;
  }
  
  input[type="date"] {
      appearance: none;
      -webkit-appearance: none;
      color: #ffffff8e;
      font-family: 'Muli', sans-serif;
      border: 2px solid #ecf0f1;
      padding:5px;
      border-top: none;
      border-left: none;
      border-right: none;
  }
  
  
  /* ################ Validate ###################### */
  
  .center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* The message box is shown when the user clicks on the password field */
  #message {
    display: none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    width: 20em;
    padding: .5em;
    margin-bottom: 1em;
  }
  
  #message h3 {
    font-size: 12px;
  }
  
  #message p {
    padding-left: 4em;
    text-align: left;
    font-size: 12px;
  }
  
  /* Add a green text color and a checkmark when the requirements are right */
  .valid {
    color: green;
  }
  
  .valid:before {
    position: relative;
    left: -35px;
    font-family: FontAwesome;
    content: "\f00c";
  }
  
  /* Add a red text color and an "x" icon when the requirements are wrong */
  .invalid {
    color: red;
  }
  
  .invalid:before {
    position: relative;
    left: -35px;
    font-family: FontAwesome;
    content: "\f00d";
  }